* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.125rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h1,
h2,
p {
    color: #707070;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-text {
    color: #B7832F;
}

img {
    width: 90%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin-bottom: 2em;
}

.row .col:last-child,
.row .col:last-child p {
    background-color: #312614;
    color: white;
    padding: 1em;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}